# encoding: utf-8
Refinery::Pages.configure do |config|
  # Configure specific page templates
  # config.types.register :home do |home|
  #   home.parts = %w[intro body]
  # end

  # Configure global page default parts
  # config.default_parts = <%= Refinery::Pages.default_parts.inspect %>

  # Configure whether to allow adding new page parts
  # config.new_page_parts = <%= Refinery::Pages.new_page_parts.inspect %>

  # Configure whether to enable marketable_urls
  # config.marketable_urls = <%= Refinery::Pages.marketable_urls.inspect %>

  # You can specify reserved words that won't be used as page slugs.
  # This only applies when marketable_urls is enabled.
  # config.friendly_id_reserved_words = <%= Refinery::Pages.friendly_id_reserved_words.inspect %>

  # Configure how many pages per page should be displayed when a dialog is presented that contains a links to pages
  # config.pages_per_dialog = <%= Refinery::Pages.pages_per_dialog.inspect %>

  # Configure how many pages per page should be displayed in the list of pages in the admin area
  # config.pages_per_admin_index = <%= Refinery::Pages.pages_per_admin_index.inspect %>

  # Configure whether to strip diacritics from Western characters
  # config.approximate_ascii = <%= Refinery::Pages.approximate_ascii.inspect %>

  # Configure whether to strip non-ASCII characters from the friendly_id string
  # config.strip_non_ascii = <%= Refinery::Pages.strip_non_ascii.inspect %>

  # Set this to true if you want to override slug which automatically gets generated
  # when you create a page
  # config.use_custom_slugs = <%= Refinery::Pages.use_custom_slugs.inspect %>

  # Set this to true if page slugs generated by friendly_id should be scoped by parent.
  # If false, page slugs are global, and are, in effect, custom routes that may contain slashes.
  # By default, these routes will be flattened to the root, using the slugged page title,
  # and will no longer be nested as children.
  # config.scope_slug_by_parent = <%= Refinery::Pages.scope_slug_by_parent.inspect %>

  # Set this to true to activate full-page-cache.
  # If you use Rails 4.0+ and set config.cache_pages_full to true, you have to add this gem in your Gemfile:
  # gem 'actionpack-page_caching'
  # config.cache_pages_full = <%= Refinery::Pages.cache_pages_full.inspect %>

  # Set this to true to fully expand the page hierarchy in the admin
  # config.auto_expand_admin_tree = <%= Refinery::Pages.auto_expand_admin_tree.inspect %>

  # config.layout_template_whitelist = <%= Refinery::Pages.layout_template_whitelist.inspect %>

  # config.use_layout_templates = <%= Refinery::Pages.use_layout_templates.inspect %>

  # Use these if you want to use layout or view templates whose filenames do not match the default pattern
  # For more information on the patterns see Dir.glob (http://ruby-doc.org/core-2.2.0/Dir.html#method-c-glob)
  # example: for .erb, .html and .rb view templates use
  #         config.view_templates_pattern = 'app', 'views', '{pages,refinery/pages}', '*.{erb,html,rb}'

  # config.layout_templates_pattern = 'app', 'views', '{layouts,refinery/layouts}', '*html*'
  # config.view_templates_pattern = 'app', 'views', '{pages,refinery/pages}', '*html*'

  # config.page_title = <%= Refinery::Pages.page_title.inspect %>

  # config.absolute_page_links = <%= Refinery::Pages.absolute_page_links.inspect %>

  # config.show_title_in_body = <%= Refinery::Pages.show_title_in_body.inspect %>
end
